In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
#bottom will drop the data from the ticket,cabin,name
def clean(data):
    data = data.drop(["Ticket", "Cabin", "Name", "PassengerId"], axis=1)
    
    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].median(), inplace=True)
        
        data.Embarked.fillna("U", inplace=True)
        return data
    
data = clean(data)
test = clean(test)

In [3]:
data.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [4]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()

cols = ["Sex", "Embarked"]

for col in cols:
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])
    print(le.classes_)
    
    data.head(5)

['female' 'male']
['C' 'Q' 'S' 'U']

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y = data["Survived"]
X = data.drop("Survived", axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.22, random_state=42)

In [6]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit
(X_train, y_train)

(     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
 800       2    1  34.0      0      0   13.0000         2
 781       1    0  17.0      1      0   57.0000         2
 542       3    0  11.0      4      2   31.2750         2
 326       3    1  61.0      0      0    6.2375         2
 534       3    0  30.0      0      0    8.6625         2
 ..      ...  ...   ...    ...    ...       ...       ...
 106       3    0  21.0      0      0    7.6500         2
 270       1    1   NaN      0      0   31.0000         2
 860       3    1  41.0      2      0   14.1083         2
 435       1    0  14.0      1      2  120.0000         2
 102       1    1  21.0      0      1   77.2875         2

 [694 rows x 7 columns],
 800    0
 781    1
 542    0
 326    0
 534    0
       ..
 106    1
 270    0
 860    0
 435    1
 102    0
 Name: Survived, Length: 694, dtype: int64)

In [7]:
predictions = clf.predict(X_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

AttributeError: 'function' object has no attribute 'predict'

In [8]:
submission_preds = clf.predict(test)

AttributeError: 'function' object has no attribute 'predict'

In [9]:
df = pd.DataFrame({"PassengerId":test_ids.values,
                  "Survived": submission_preds,
                  })

NameError: name 'test_ids' is not defined

In [ ]:
df.to_csv("submission.csv", index=False)